body {
  margin: 0;
  padding: 0;

}


.container{
  width: 30%;
  margin: auto;
  margin-top: 4rem;
  border: none;
  border-radius: 2rem;
  background: teal;
  padding-top: 1rem;
  box-shadow: 5px 5px 50px grey, -5px -5px 50px grey;
}
.degrees{
  border: 0.2rem solid #fff;
  width: 80%;
  aspect-ratio: 1/1;
  margin: auto;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
transition: 0.5s;
}
.degrees p{
font-size: 3rem;
color: #fff;
}
.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
button{
  color: #fff;
  font-size: xx-large;
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 0.2rem solid #fff;
  background: grey;
}
button:hover{
  background: rgb(185, 182, 182);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container{
    width: 50%;
    margin: auto;
    box-shadow: none;
    margin-top: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .container{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top right, indigo, #4A96F0);
  }
}

@media screen and (max-width: 320px) {
  .container{
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top right, grey, rgb(219, 216, 216));
    }
}


